@import 'normalize.css';
@import 'skeleton.css';

.viewport {
  height: 100vh;
  background-image: url('/images/piggy-bank.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: right bottom;
}

.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}

.nowrap {
  white-space: nowrap;
}

.ember-power-select-trigger {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.result {
  background-color: white;
}

.result .amount, .result .error {
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  text-align: center;
  padding: 6px 10px;
}
.result .amount {
  font-size: 6rem;
}
.result .amount .currency {
  font-size: 60%;
}

.result .amount .exchange-rate {
  font-size: 1.4rem;
}