
  <div class='row'>
    <div class="twelve columns">
      <h1 class="text-center">Currency Converter</h1>
      {{currency-converter
          date=date
          from=from
          to=to
          amount=amount
          result=model
        }}
    </div>
  </div>